a:hover {
  color: #2c4964;
}

.logo {
  color: #2c4964;
  font-size: 30px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;

}


body {
  background: url("/public/img/hero-bg.jpg");
  background-position: center center;
  background-attachment: fixed;
  margin: 0;
  font-family: -apple-system, Roboto, Helvetica, Arial, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

